#form_page {
  background-color: #000;
  margin: auto;
}

#container {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  height: 100%;
  min-height: 555px;
  opacity: 0.8;
  background-position-x: right;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#container:after {
  content: '';
  background-image: url('./images/background.png');
  transform: rotateY(180deg);
  position: absolute;
  background-position-x: right;
  width: 100%;
  height: 100%;
  min-height: 555px;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
}

.page_heading {
  color: #25ffe0;
  font-size: 50px;
}

.form {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 560px;
  width: 100%;
}

.form_data {
  font-size: 24px;
  text-align: center;
  background: transparent;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s;
  border-style: outset;
  color: #999;
}

.form_data:focus-visible,
.form_data:focus-within,
.form_data:hover {
  border: 2px outset #25ffe0;
  cursor: auto;
  transition: 0.3s;
}

.form_btn {
  position: relative;
  font-size: 24px;
  border-radius: 10px;
  min-width: 180px;
  min-height: 65px;
  padding: 15px;
  cursor: pointer;
  background: transparent;
  text-align: center;
  border: 1px solid #25ffe0;
  transition: 1s ease-in-out;
  color: #999;
}

.border-hover-effect--button {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #25ffe0;
  stroke-dasharray: 405 410;
  stroke-dashoffset: 140;
  transition: 1s ease-in-out;
  border-radius: 10px;
}

.form_btn:hover {
  transition: 1s ease-in-out;
  background: transparent;
}

.form_btn:hover .border-hover-effect--button {
  stroke-dashoffset: -343;
}

.form_btn:focus,
.form_btn:focus-visible {
  outline-color: #fff;
  outline-width: 1px;
  outline-style: solid;
}

#form_page .page_subtitle {
  color: #1ab29c;
  font-size: 28px;
  display: block;
  width: 100%;
  text-align: center;
}

.block_results {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
  max-width: 560px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #25ffe0;
  padding: 15px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.block_results .block_results--title {
  color: #25ffe0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

#counting-results {
  color: #fafafa;
  font-size: 24px;
  font-weight: 500;
}

.error--box {
  margin: 10px 0;
}

.error {
  color: #ffff;
}

.control {
  margin: 0 0 30px;
}

.control .control--radio-label {
  border: 2px solid;
  border-radius: 100px;
  padding: 5px;
  color: #1ab29c;
  font-weight: 600;
  font-size: 24px;
  position: relative;
  z-index: 0;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.control--radio-input {
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 30px;
  border-radius: 100px;
  height: 30px;
  cursor: pointer;
  top: 0;
  left: 0;
  margin: 0;
}

.control--radio-input:focus,
.control--radio-input:focus-visible {
  outline-color: #fff;
  outline-width: 1px;
  outline-style: solid;
  border: 2px solid #ffffff;
}

#checkboxList {
  margin: 30px 0;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  max-width: 560px;
  flex-wrap: wrap;
  color: #25ffe0;
}

#checkboxList .label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#checkboxList .checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  #container:after {
    background: none;
  }

  #container {
    align-items: flex-start;
    margin-left: 40px;
  }

  .block_results {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
  }

  .page_heading {
    text-align: center;
    max-width: 560px;
    width: 100%;
  }
}
